<h2>MEUS PROCESSOS</h2>
<br />
<br />
@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-12">
            <h5>Processos Abertos</h5>
        </div>
    </div>
    <hr />
        
    <div class="grupoPesquisa">
        <div class="textbox">
            @Html.TextBox("pesquisaAbertos")
            <div class="botaolupa">
                <button class="lupa" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <br />   
    <table class="table">
        <thead>
            <tr>
                    <th>Numero do Processo</th>
                    <th>Nome do Utente</th>
                    <th>Numero do Utente</th>
                    <th>Data de abertura</th>
                    <th>Data de Fecho</th>
                    <th>Doença</th>
                    <th>Hospital</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ABERTOS)
                {
                    <tr>
                    <th><a asp-controller="NovoProcesso" asp-action="Index" asp-route-idProcesso="@item.Id" asp-route-numProcesso="@item.NumProcesso">@item.NumProcesso</a></th>
                        <th><a asp-controller="Utente" asp-action="Detalhes" asp-route-Id="@item.UtenteId">@item.NomeUtente</a></th>
                        <th><a asp-controller="Utente" asp-action="Detalhes" asp-route-Id="@item.UtenteId">@item.NumeroUtente</a></th>
                        <th>@item.DataAbertura</th>
                        <th>@item.DataFecho</th>
                        <th>@item.Doenca</th>
                        <th>@item.Hospital</th>
                    </tr>
                }
        </tbody>
    </table>
}
<br />
<br />
<br />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-12">
            <h5>Processos Fechados</h5>
        </div>
    </div>
    <hr />
        
    <div class="grupoPesquisa">
        <div class="textbox">
            @Html.TextBox("pesquisaFechados")
            <div class="botaolupa">
                <button class="lupa" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Numero do Processo</th>
                <th>Nome do Utente</th>
                <th>Numero do Utente</th>
                <th>Data de abertura</th>
                <th>Data de Fecho</th>
                <th>Doença</th>
                <th>Hospital</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.FECHADOS)
            {
                <tr>
                    <th><a asp-controller="Processo" asp-action="Index" asp-route-idProcesso="@item.Id">@item.NumProcesso</a></th>
                    <th><a asp-controller="Utente" asp-action="Detalhes" asp-route-Id="@item.UtenteId">@item.NomeUtente</a></th>
                    <th><a asp-controller="Utente" asp-action="Detalhes" asp-route-Id="@item.UtenteId">@item.NumeroUtente</a></th>
                    <th>@item.DataAbertura</th>
                    <th>@item.DataFecho</th>
                    <th>@item.Doenca</th>
                    <th>@item.Hospital</th>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
}
