<h1>Processo Nº @ViewBag.PROCESSO</h1>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Dados do Utente</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-2">Numero de Utente</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>@ViewBag.UTENTE.NumeroUtente</th>
                        <th>@ViewBag.UTENTE.Nome</th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Data de Nascimento</th>
                        <th>Genero</th>
                        <th>Cidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>@ViewBag.UTENTE.DataNascimento</th>
                        <th>@ViewBag.UTENTE.Genero</th>
                        <th>@ViewBag.UTENTE.Cidade</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Sintomas</h3>
        </div>
        <div class="col-6">
            <h3>Exames</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Diagnóstico</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Datas</h3>
        </div>
    </div>
</div>
