@model IEnumerable<apoio_decisao_medica.Models.Processo>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-8"><h1>Processo Nº @item.NumeroProcesso</h1></div>
        <div class="col-md-4 d-grid justify-content-md-end">
            <div class="strong">
                <a href="@ViewBag.ReturnUrl">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                    </svg>
                    Voltar</a>
            </div>
        </div>
@*        <div class="col-md-4 d-grid justify-content-md-end">
            <div class="btnCriar"><a href="">Voltar</a></div>
        </div>*@
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Data Abertura</strong></div>
    <div class="col-md-2">@item.DataHoraAbertura</div>
    </div>
    <div class="row">
    <div class="col-md-2"><strong>Data Fecho</strong></div>
    <div class="col-md-2">@item.DataHoraFecho</div>
    </div>
<hr />

    <div class="container fichaUtente d-flex" style="background-color: #688698; border-radius: 15px; color: white; width: 800px; margin-bottom: 3px;">
        <div class="row p-3">
            @switch (@item.Utente.Genero)
            {
                case "Masculino":
                    <div class="col-md-4 imgUtilizador"><img src="~/img/masculino.jpg" width="50%" class="rounded-circle" /></div>
                    break;
                case "Feminino":
                    <div class="col-md-4 imgUtilizador"><img src="~/img/feminino.png" width="50%" class="rounded-circle" /></div>
                    break;
                default:
                    <div class="col-md-4 imgUtilizador"><img src="~/img/none.png" width="50%" class="rounded-circle" /></div>
                    break;
            }

            <div class="col-md-4" >
                <div class="row">
                    <div class="col-md-12"><h4>@item.Utente.Nome</h4></div>
                </div>
                <div class="row">
                    <div class="col-md-12">@ViewBag.IDADE anos, @item.Utente.Genero</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Número de utente: @item.Utente.NumeroUtente</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Cidade: @item.Utente.Cidade</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="btnCriar mt-3" style="margin-left: 50%; transform: translateX(-50%); width: 150px;">
                    <a asp-controller="NovoProcesso" asp-action="Index" asp-route-numProcesso="@item.NumeroProcesso" asp-route-reabrir="1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                            <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z" />
                        </svg>
                        Reabrir Processo</a>
                </div>
            </div>
        </div>
    </div>
<br />
<br />
        <table class="table">
            <thead>
                <th>Diagnóstico</th>
                <th>Sintomas</th>
                <th>Exames</th>
            </thead>
            <tbody>
                <td>
                    O diagnóstico final foi de <i>@item.Doenca.Nome</i>.
                </td>        
                <td class="">
                    <div>
                        @foreach (var itemS in ViewBag.SINTOMAS)
                        {
                                @itemS
                            <br />
                        }
                    </div>
                </td>
                <td class="@*overflow-auto*@">
                    <div>
                        @foreach (var itemE in ViewBag.EXAMES)
                        {
                            @itemE
                        <br />
                        }
                    </div>
                </td>
                

            </tbody>
        </table>
    <br />
}
