@model IEnumerable<apoio_decisao_medica.Models.Sintoma>

@{
    ViewData["Title"] = "Sintomas";
}

<h1>Sintomas</h1>

@using (Html.BeginForm())
{
    <div class="row pb-3 pt-3">
        <div class="col-10">
            <div class="btnCriar">
                <a asp-action="Create">Adicionar Sintoma</a>
            </div>
        </div>
        <div class="col-2">
            @Html.TextBox("pesquisa", null, new {placeholder = "Pesquisa"})
        </div>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Categoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatSintoma.Nome)
            </td>
            <td align="right">
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
