@model apoio_decisao_medica.Models.Utente

<h2>Detalhes do Utente</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Numero de Utente</th>
            <th>Data de Nascimento</th>
            <th>Genero</th>
            <th>Cidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Model.Nome</th>
            <th>@Model.NumeroUtente</th>
            <th>@Model.DataNascimento</th>
            <th>@Model.Genero</th>
            <th>@Model.Cidade</th>
        </tr>
    </tbody>
</table>
<a asp-controller="Utentes" asp-action="Edit" asp-route-id="@Model?.Id">Editar Dados</a>
<br />
<br />
<a asp-controller="" asp-action="">Novo Processo</a>

<h3>Histórico de Processos do Utente</h3>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Numero do Processo</th>
            <th>Data de Abertura</th>
            <th>Data de Fecho</th>
            <th>Sintomas</th>
            <th>Diagnóstico</th>
            <th>Médico</th>
            <th>Hospital</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.LISTAPRO)
        {
            <tr>
                <th>@item.NumeroProcesso</th>
                <th>@item.DataHoraAbertura</th>
                <th>@item.DataHoraFecho</th>
                <th>Sintomas</th>
                <th>@item.DoencaId</th>
                <th>@item.MedicoId</th>
                <th>@item.HospitalId</th>
            </tr>
        }           
    </tbody>
</table>
