@model IEnumerable<apoio_decisao_medica.ViewsModels.HistoricoProcesso>
<div class="sticky-top" style="background-color: #ebf4fa">
    <div class="row">
        <div class="col-md-10"><h2>Detalhes do Utente</h2></div>
        <div class="col-md-2">
            <div class="btnCriar">
                <a asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
    <hr />
    <div class="container fichaUtente d-flex" style="background-color: #688698; border-radius: 15px; color: white; width: 800px; margin-bottom: 3px;">
        <div class="row p-3">
            @switch (ViewBag.UTENTE.Genero)
            {
                case "Masculino":
                    <div class="col-md-4 imgUtilizador"><img src="~/img/masculino.jpg" width="50%" class="rounded-circle" /></div>
                    break;
                case "Feminino":
                    <div class="col-md-4 imgUtilizador"><img src="~/img/feminino.png" width="50%" class="rounded-circle" /></div>
                    break;
                default:
                    <div class="col-md-4 imgUtilizador"><img src="~/img/none.png" width="50%" class="rounded-circle" /></div>
                    break;
            }
            @if (ViewBag.UTENTE.Genero == "Masculino")
            {
            }
            <div class="col-md-4" >
                <div class="row">
                    <div class="col-md-12"><h4>@ViewBag.UTENTE.Nome</h4></div>
                </div>
                <div class="row">
                    <div class="col-md-12">@ViewBag.IDADE anos, @ViewBag.UTENTE.Genero</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Número de utente: @ViewBag.UTENTE.NumeroUtente</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Cidade: @ViewBag.UTENTE.Cidade</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btnCriar mb-3" style="margin-left: 50%; transform: translateX(-50%); width: 130px;">
                            <a asp-action="Editar" asp-route-id="@ViewBag.UTENTE?.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>
                                Editar Dados</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btnCriar mt-3" style="margin-left: 50%; transform: translateX(-50%); width: 130px;">
                            <a asp-controller="NovoProcesso" asp-action="CriarProcesso" asp-route-idUtente="@ViewBag.UTENTE?.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                                  <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                                </svg>
                                Novo Processo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@using (Html.BeginForm())
{

    <div><h3>Histórico de Processos do Utente</h3></div>
 
    <br />
    <table class="table tableProcessosUtentes" style="height: 30px;">
        <thead>
            <tr>
                <th>Numero do Processo</th>
                <th>Data de Abertura</th>
                <th>Data de Fecho</th>
                <th>Sintomas</th>
                <th>Diagnóstico</th>
                <th>Médico</th>
                <th>Hospital</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        @if (item.DataFecho == null)
                        {
                            if (ViewBag.USER.MedicoId == item.MedicoId)
                            {
                                <td><a asp-controller="NovoProcesso" asp-action="Index" asp-route-idProcesso="@item.Id" asp-route-numProcesso="@item.NumProcesso">@item.NumProcesso</a></td>
                            }
                            else
                            {
                                <td>@item.NumProcesso</td>
                            }
                        }
                        else
                        {
                                <td><a asp-controller="Processo" asp-action="Index" asp-route-idProcesso="@item.Id">@item.NumProcesso</a></td>
                        }
                        <td>@item.DataAbertura</td>
                        <td>@item.DataFecho</td>
                        <td>@if (ViewBag.LISTA != item.Id)
                            {
                            <input type="submit" value="+" asp-route-idProc="@item.Id">
                            }
                            else
                            {
                                if (ViewBag.LISTA == item.Id)
                                {
                                    @foreach (var itemS in ViewBag.SINTOMAS)
                                    {
                                        @itemS
                                        <br />
                                    }
                                }
                            }
                        </td>
                        <td>@item.Doenca</td>
                        <td>@item.Medico</td>
                        <td>@item.Hospital</td>
                    </tr>
            }           
        </tbody>
    </table>
}

