@model IEnumerable<apoio_decisao_medica.ViewsModels.HistoricoProcesso>
<div class="sticky-top" style="background-color: #ebf4fa">
    <div class="row">
        <div class="col-md-10"><h2>Detalhes do Utente</h2></div>
        <div class="col-md-2">
            <div class="btnCriar">
                <a asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
    <hr />
    <div class="container fichaUtente d-flex" style="background-color: #688698; border-radius: 15px; color: white; width: 800px; margin-bottom: 3px;">
        <div class="row p-3">
            @switch (ViewBag.UTENTE.Genero)
            {
                case "Masculino":
                    <div class="col-md-4 imgUtilizador"><img src="~/img/masculino.jpg" width="50%" class="rounded-circle" /></div>
                    break;
                case "Feminino":
                    <div class="col-md-4 imgUtilizador"><img src="~/img/feminino.png" width="50%" class="rounded-circle" /></div>
                    break;
                default:
                    <div class="col-md-4 imgUtilizador"><img src="~/img/none.png" width="50%" class="rounded-circle" /></div>
                    break;
            }
            @if (ViewBag.UTENTE.Genero == "Masculino")
            {
            }
            <div class="col-md-4" >
                <div class="row">
                    <div class="col-md-12"><h4>@ViewBag.UTENTE.Nome</h4></div>
                </div>
                <div class="row">
                    <div class="col-md-12">@ViewBag.IDADE anos, @ViewBag.UTENTE.Genero</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Número de utente: @ViewBag.UTENTE.NumeroUtente</div>
                </div>
                <div class="row">
                    <div class="col-md-12">Cidade: @ViewBag.UTENTE.Cidade</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btnCriar mb-3" style="margin-left: 50%; transform: translateX(-50%);">
                            <a asp-action="Editar" asp-route-id="@ViewBag.UTENTE?.Id">Editar Dados</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btnCriar mt-3" style="margin-left: 50%; transform: translateX(-50%);">
                            <a asp-controller="NovoProcesso" asp-action="CriarProcesso" asp-route-idUtente="@ViewBag.UTENTE?.Id">Novo Processo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@using (Html.BeginForm())
{

    <div><h3>Histórico de Processos do Utente</h3></div>
 
    <br />
    <table class="table tableProcessosUtentes" style="height: 30px;">
        <thead>
            <tr>
                <th>Numero do Processo</th>
                <th>Data de Abertura</th>
                <th>Data de Fecho</th>
                <th>Sintomas</th>
                <th>Diagnóstico</th>
                <th>Médico</th>
                <th>Hospital</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        @if (item.DataFecho == null)
                        {
                            <td><a asp-controller="NovoProcesso" asp-action="Index" asp-route-idProcesso="@item.Id" asp-route-numProcesso="@item.NumProcesso">@item.NumProcesso</a></td>
                        }
                        else
                        {
                            <td><a asp-controller="Processo" asp-action="Index" asp-route-idProcesso="@item.Id">@item.NumProcesso</a></td>
                        }
                        <td>@item.DataAbertura</td>
                        <td>@item.DataFecho</td>
                        <td>@if (ViewBag.LISTA != item.Id)
                            {
                            <input type="submit" value="+" asp-route-idProc="@item.Id">
                        }
                        else
                        {
                            if (ViewBag.LISTA == item.Id)
                            {
                                @foreach (var itemS in ViewBag.SINTOMAS)
                                {
                                    @itemS
                                    <br />
                                }
                            }
                        }
                        </td>
                        <td>@item.Doenca</td>
                        <td>@item.Medico</td>
                        <td>@item.Hospital</td>
                    </tr>
            }           
        </tbody>
    </table>
}

