@model IEnumerable<apoio_decisao_medica.Models.Utente>
<div class="row titulo">
    <div class="col-md-12" style="padding-right: 0px"><h2>UTENTES</h2></div>
</div>
<hr />
<br />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 p-3">Nome</div>
        <div class="col-md-3 col-sm-3 col-xs-12 p-3">Número de utente</div>
        <div class="col-md-3 col-sm-3 col-xs-12 p-3">Data de Nascimento</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">@Html.TextBox("nome")</div>
        <div class="col-md-3 col-sm-3 col-xs-12">@Html.TextBox("numUtente")</div>
        <div class="col-md-3 col-sm-3 col-xs-12">@Html.TextBox("dataNasc")</div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <button class="btnCriar" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
                &nbspProcurar
            </button>
        </div>

    </div>
@*    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Numero de Utente</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
                        <tr>
                <th>@Html.TextBox("nome")</th>
                <th>@Html.TextBox("numUtente")</th>
                <th>@Html.TextBox("dataNasc")</th>
                <th><button class="btnCriar" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                        &nbspProcurar
                    </button>
                </th> 
            </tr>
        </tbody>
    </table>*@
    
}
<br />
<br />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-1"><h4>Utentes</h4></div>
        <div class="col-md-11">
            <div class="btnCriar">
                <a asp-action="Novo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                    Novo Utente
                </a>
            </div>
        </div>

    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Numero de Utente</th>
                <th>Data de Nascimento</th>
                <th>Genero</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th><a asp-action="Detalhes" asp-route-id="@item.Id">@item.Nome</a></th>
                    <th>@item.NumeroUtente</th>
                    <th>@item.DataNascimento</th>
                    <th>@item.Genero</th>
                    <th>@item.Cidade</th>
                </tr>
            }
        </tbody>
    </table>
}