@model apoio_decisao_medica.Models.Utente
@using (Html.BeginForm())
{
    <h4>Indique qual é o utente:</h4>
    @Html.DropDownList("utente", (SelectList)ViewBag.UTENTES, "Escolha o utente")
    <br />
    <br />
    <input type="submit" value="Aplicar">
    <br />
    @if (Model.NumeroUtente != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Numero de Utente</th>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Model.NumeroUtente</th>
                    <th>@Model.Nome</th>
                    <th></th>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>Data de Nascimento</th>
                    <th>Género</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Model.DataNascimento</th>
                    <th>@Model.Genero</th>
                    <th>@Model.Cidade</th>
                </tr>
            </tbody>
        </table>
        <a asp-action="Processo" asp-route-id="@Model?.Id">Abrir Processo</a>
    }
    else
    {
        <h5>Selecione um Utente!</h5>
    }
}
<br />
<br />
<br />