@model IEnumerable<apoio_decisao_medica.Models.Doenca>

@{
    ViewData["Title"] = "DOENÇAS";
}
<div class="row titulo">
    <div class="col-md-12" style="padding-right: 0px"><h2>DOENÇAS</h2></div>
</div>
<hr />
<br />
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-6">
        @Html.DropDownList("categoria", (SelectList)ViewBag.CATEGORIAS, "Todas as categorias", new { onchange = "this.form.submit();", @class = "btn text-left" })
    </div>
        <div class="grupoPesquisa col-md-6 d-grid justify-content-md-end">
            <div class="textbox">
                @Html.TextBox("numUtente")
                <div class="botaolupa" style="bottom: -20%">
                    <button class="lupa" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Categoria
            </th>
            <th>
                Sintomas (Relevância)
            </th>
            <th>
                Exames (Relevância)
            </th>
            <th>
                Percentagem de Casos
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatDoenca.Nome)
                </td>
                <td>
                    <div class="fixed-height-pequena overflow-auto">
                        @foreach (var itemS in ViewBag.TODOSSINTOMAS)
                        {
                            if (itemS.DoencaId == item.Id)
                            {
                                @itemS.Sintoma.Nome @:(@itemS.Relevancia%)
                                <br />
                            }
                        }
                    </div>
                </td>
                <td>
                    <div class="fixed-height-pequena overflow-auto">
                        @foreach (var itemE in ViewBag.TODOSEXAMES)
                        {
                            if (itemE.DoencaId == item.Id)
                            {
                                @itemE.Exame.Nome @:(@itemE.Relevancia%)
                                <br />
                            }
                        }
                    </div>
                </td>
                <td>
                    <div class="d-none">@(ViewBag.CONT = 0)</div>
                    @foreach (var cont in ViewBag.TODOSPROCESSOS)
                    {
                        if (cont.DoencaId == item.Id)
                        {
                            <div class="d-none">@(ViewBag.CONT++)</div>
                        }
                    }
                    @(100 * ViewBag.CONT / ViewBag.TOTAL)%
                </td>
            </tr>
        }
    </tbody>
</table>
}
<br />
<br />

