@model IEnumerable<apoio_decisao_medica.Models.Doenca>

@{
    ViewData["Title"] = "DOENÇAS";
}

<div class="row">
    <div class="col-md-12">
        <h1>DOENÇAS</h1>
    </div>
</div>
<hr />
@using (Html.BeginForm())
{
    <div class="col-3">
        @Html.TextBox("pesquisa")
    </div>
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Categoria
            </th>
            <th>
                Sintomas (Relevância)
            </th>
            <th>
                Exames (Relevância)
            </th>
            <th>
                Percentagem de Casos
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatDoenca.Nome)
                </td>
                <td>
                    <div class="fixed-height-pequena overflow-auto">
                        @foreach (var itemS in ViewBag.TODOSSINTOMAS)
                        {
                            if (itemS.DoencaId == item.Id)
                            {
                                @itemS.Sintoma.Nome @:(@itemS.Relevancia%)
                                <br />
                            }
                        }
                    </div>
                </td>
                <td>
                    <div class="fixed-height-pequena overflow-auto">
                        @foreach (var itemE in ViewBag.TODOSEXAMES)
                        {
                            if (itemE.DoencaId == item.Id)
                            {
                                @itemE.Exame.Nome @:(@itemE.Relevancia%)
                                <br />
                            }
                        }
                    </div>
                </td>
                <td>
                    <div class="d-none">@(ViewBag.CONT = 0)</div>
                    @foreach (var cont in ViewBag.TODOSPROCESSOS)
                    {
                        if (cont.DoencaId == item.Id)
                        {
                            <div class="d-none">@(ViewBag.CONT++)</div>
                        }
                    }
                    @(100 * ViewBag.CONT / ViewBag.TOTAL)%
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />

