@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/users/@(ViewBag.USER.User).png" alt="" width="250" height="250" class="rounded-circle me-2"><br />
</div>
<div class="row text-center mt-5">
    <hr />
    <div class="col-12">
        <h5>Nome</h5>
    </div>
    <div class="col-12">
        @ViewBag.USER.Medico.Nome
    </div>
    <hr />
    <div class="col-12">
        <h5>Especialidade </h5>
    </div>
    <div class="col-md-12">
        @ViewBag.USER.Medico.Especialidade
    </div>
    <hr />
    <div class="col-12">
        <h5>Instituição médica </h5>
    </div>
    <div class="col-md-12">
        @ViewBag.LOCAL
    </div>
    <hr />
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button style="background-color: transparent" type="submit" asp-route-change="1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                </svg>
                <b>Mudar Password</b>
            </button>
        </div>
    </div>
    @if (ViewBag.CHANGE != null)
    {
        if (ViewBag.ERRO != null)
        {
            <p style="color:red"><b><i>@ViewBag.ERRO</i></b></p>
            <br />
        }
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center m-2" style="border: none; outline: none;">
                <input class="passinput" type="password" name="antiga" placeholder="Password Antiga">
            </div>
            <div class="col-md-12 d-flex justify-content-center m-2" style="border: none; outline: none;">
                <input class="passinput" type="password" name="nova" placeholder="Nova Password">
            </div>
            <div class="col-md-12 d-flex justify-content-center m-2" style="border: none; outline: none;">
                <input class="passinput" type="password" name="nova2" placeholder="Repita a Nova Password">
            </div>
            <div class="col-md-12 d-flex justify-content-center m-2" style="border: none; outline: none;">
                <button class="btnCriar" style="background-color: #688698; color: white; width: fit-content;" type="submit" asp-route-change="2">Confirmar</button>
            </div>
        </div>
    }
    @if (ViewBag.SUCESS != null)
    {
        <p style="color:forestgreen"><i><b>@ViewBag.SUCESS</b></i></p>
    }
}



