@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <img src="~/img/@(ViewBag.USER.User).png" alt="" width="80" height="80" class="rounded-circle me-2"><br />
</div>
<div class="row">
    <div class="col-12">
        Nome do Utilizador: @ViewBag.USER.Medico.Nome
    </div>
</div>
<div class="row">
    <div class="col-12">
        Especialidade: @ViewBag.USER.Medico.Especialidade
    </div>
</div>
<div class="row">
    <div class="col-12">
        Instituição médica: @ViewBag.LOCAL
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-12">
            <button type="submit" asp-route-change="1">Mudar Password</button>
        </div>
    </div>
    @if (ViewBag.CHANGE != null)
    {
        if (ViewBag.ERRO != null)
        {
            @ViewBag.ERRO
            <br />
        }
        <input type="password" name="antiga" placeholder="Password Antiga">
        <br />
        <input type="password" name="nova" placeholder="Nova Password">
        <br />
        <input type="password" name="nova2" placeholder="Repita a Nova Password">
        <br />
        <button type="submit" asp-route-change="2">Confirmar</button>
    }
    @if (ViewBag.SUCESS != null)
    {
        @ViewBag.SUCESS
    }
}



