@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/users/@(ViewBag.USER.User).png" alt="" width="250" height="250" class="rounded-circle me-2"><br />
</div>
<div class="row text-center mt-5">
    <hr />
    <div class="col-12">
        <h5>Nome</h5>
    </div>
    <div class="col-12">
        @ViewBag.USER.Medico.Nome
    </div>
    <hr />
    <div class="col-12">
        <h5>Especialidade </h5>
    </div>
    <div class="col-md-12">
        @ViewBag.USER.Medico.Especialidade
    </div>
    <hr />
    <div class="col-12">
        <h5>Instituição médica </h5>
    </div>
    <div class="col-md-12">
        @ViewBag.LOCAL
    </div>
    <hr />
</div>

@using (Html.BeginForm())
{
    <button style="background-color: #688698; color: white; border-radius: 20px; padding-left: 6px; right:50%:" type="submit" asp-route-change="1">Mudar Password</button>

    @if (ViewBag.CHANGE != null)
    {
        if (ViewBag.ERRO != null)
        {
            @ViewBag.ERRO
            <br />
        }
        <input type="password" name="antiga" placeholder="Password Antiga">
        <br />
        <input type="password" name="nova" placeholder="Nova Password">
        <br />
        <input type="password" name="nova2" placeholder="Repita a Nova Password">
        <br />
        <button type="submit" asp-route-change="2">Confirmar</button>
    }
    @if (ViewBag.SUCESS != null)
    {
        @ViewBag.SUCESS
    }
}



