@model IEnumerable<apoio_decisao_medica.Models.Utilizador>

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>Utilizadores</h1>

@using (Html.BeginForm())
{
    <div class="btnCriar">
        <a asp-action="Create">Adicionar Novo</a>
    </div>
    @Html.TextBox("pesquisa", null, new {placeholder = "Pesquisa"})
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                Foto de Perfil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <span class="password" data-password="@item.Pass">********</span>
@*                @Html.DisplayFor(modelItem => item.Pass)
*@            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                    <img src="~/img/users/@(item.User).png" alt="" width="80" height="80" class="rounded-circle me-2">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
